<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, user-scalable=false;">
  <title><%= data.page.title ? data.page.title + " - Esri PDX" : "Esri PDX" %></title>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>

  <%= stylesheet_link_tag "all" %>

  <%= javascript_include_tag "jquery-1.9.1.min.js" %>
  <%= javascript_include_tag "modernizr.custom.js" %>
  <%= javascript_include_tag "jquery.hammer.min" %>




  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv.js" %>
  <![endif]-->

<head>
<body id="wrap">
  <div class="drawer" id="drawer">
    <nav class="drawer-nav drawer-top other">
      <div class="keyboard" id="resetter">
        <%= partial "partials/keyboard" %>
      </div>
    </nav>

    <nav class="drawer-nav drawer-bottom self">
      <div class="keyboard" id="subtracter">
        <%= partial "partials/keyboard" %>
      </div>
    </nav>
  </div>
  <div class="main-content" id="main-content">
    <%= yield %>
  </div>
</body>
  <%= javascript_include_tag "classie" %>
  <%= javascript_include_tag "drawer" %>
  <%= javascript_include_tag "firebase" %>
  <%= javascript_include_tag "keyboard" %>
</html>
