<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, user-scalable=false;">
  <title><%= data.page.title ? data.page.title + " - Esri PDX" : "Esri PDX" %></title>


  <%= stylesheet_link_tag "all" %>
  <%= stylesheet_link_tag "leaflet" %>

  <%= javascript_include_tag "jquery-1.9.1.min.js" %>
  <%= javascript_include_tag "all" %>
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "esri-leaflet" %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv.js" %>
  <![endif]-->

<head>
<body>
  <%= yield %>

  <script>
  var map = L.map("map");
  map.setView([45.5275, -122.6717], 15);
  L.esri.basemapLayer("Topographic").addTo(map);
  </script>
</body>
</html>
